:root {
  --dark: #19283f;
  --green: #33d1cc;
  --blue: #0d6efd;
  --section: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: var(--dark);
}

nav svg {
  color: #fff;
}

nav .nav-link {
  color: #eee;
  transition: .4s;
}

nav .nav-link:hover,
nav .nav-link:focus,
nav .nav-link.active {
  color: var(--green);
  padding-left: 15px !important;
}

a:not(.nav-link) {
  width: fit-content;
}

.search svg {
  color: var(--green);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-left: 3px solid var(--green);
}

.search input {
  border: none;
  transition: 1s;
  padding: 0;
  width: 60px;

}

.search input:focus {
  outline: none;
  width: 200px;
}


nav {
  border-bottom: 2px solid var(--green);
}

.landing {
  background-color: var(--dark);
  height: calc(100vh - 60px);
}

.sp-title {
  margin: 3rem auto;
  width: fit-content;
  ;
}

.sp-title svg {
  color: var(--blue);
  transform: rotateZ(35deg);
}

.sp-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  height: 3px;
  width: 60%;
  background-color: var(--green);
}

.icons {
  height: 200px;
}

.icons svg {
  left: 50%;
  transform: translateX(-50%);
}

.icons .num {
  font-size: 12rem;
  color: var(--section);
}

.icons .icon {
  font-size: 5rem;
  color: var(--green);
}

.row .data h4 {
  color: var(--blue);
  font-weight: bold;
  letter-spacing: 4px;

}

.filter .all:not(.active) {
  display: none;
  transform: scale(0);
}

.filter .active {
  animation: pp .5s both;
}

@keyframes pp {
  0% {
    display: none;
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    display: block
  }
}

.our-works {
  background-color: var(--section);
}

.our-works ul .active {
  background-color: var(--blue);
  color: #fff;
  border-radius: 1rem;
  font-weight: bold;
}

.our-works ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.our-works ul li:not(.active):hover {
  color: var(--blue);
}

.our-works .box {
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.our-works .box::before {
  content: attr(data-info);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: hsla(216, 98%, 52%, .7);
  color: white;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
  transition: .5s;
  border-radius: 30rem;
}

.our-works .box:hover::before {
  transform: translate(-50%, -50%) scale(1);
  border-radius: 0;
}

.stufe .container>p {
  max-width: 500px;
  margin: auto;
}

.team {
  background-color: var(--section);
}

.team h1 {
  color: var(--blue);
}

.team .box h3 {
  background: var(--blue);
  color: #fff;
}

.team .box p:before,
.team .box p:after {
  content: '"';
  font-size: 1.2em;
}

.team .box img {
  transition: .5s;
  filter: grayscale(100%);
}

.team .box {
  position: relative;
}

.team .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 0;
  z-index: 50;
  transition: .5s;
  border-radius: 2rem;
  background-color: var(--blue);
}

.team .box:hover img {
  filter: grayscale(0);
}

.team .box:hover::before {
  width: 100%;
}

.project {
  background-color: var(--dark);
}

.sub {
  background: var(--blue);
  color: #fff;
}

.sub [type=text] {
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: bold;
}

.sub ::placeholder {
  color: #fff;
}

.sub input:focus {
  outline: none
}

.sub [type=submit] {
  background: var(--dark);
  color: inherit;
  width: fit-content;
}

footer {
  background: var(--dark);
}

footer ul li a {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

footer ul li {
  padding: 1.rem 0;
}

.creat span {
  font-weight: bold;
}

.creat span:first-child {
  color: var(--green);
}

.creat span:last-child {
  color: var(--blue);
}

.contact li:first-child {
  background: var(--blue);
}

.contact li:nth-child(2) {
  background: #000;
}

.contact li:last-child {
  background: #2A99D2;
}

.contact li a {
  color: #fff;
}

.err {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background: red;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 5px;
  font-weight: bold;
}

.top {
  position: fixed;
  background-color: var(--blue);
  color: #fff;
  padding: 5px;
  transition: .5s;
  z-index: 1899;
  top: 0;
  transform: translateY(-100%);
  border-radius: 0 50% 0 50%;
}

.top.show {
  right: 20px;
  top: calc(100% - 20px);
}

@media (max-width: 767px) {
  .search input {
    width: 200px;
  }

  .login {
    margin: 2rem auto;
  }

  .sub p {
    font-size: 25px;
    font-weight: bold;
  }
}
